aniso8601==9.0.1
click
Flask==2.2.3
Flask-JWT
Flask-JWT-Extended==4.4.4
Flask-RESTful
Flask-Mail
gunicorn
importlib-metadata==6.1.0
itsdangerous
Jinja2==3.1.2
MarkupSafe==2.1.2
PyJWT
python-dotenv
pytz==2023.2
six==1.16.0
Werkzeug==2.2.3
zipp==3.15.0
