<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Byte By Byte</title>
    <link rel="icon" type="image/x-icon" href="static/assets/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-eduwell-style.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">
    <link rel="stylesheet" href="static/assets/css/lightbox.css">
  </head>

  <style>
    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }

    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .column {
        flex: 50%;
        max-width: 50%;
      }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        flex: 100%;
        max-width: 100%;
      }
    }

    .round {
      border-radius: 50%;
    }
  </style>

  <body>


  <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          <img src="static/assets/images/icon.png" alt="ByteByByte Logo">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="/" class="active">Home</a></li>
                          <li><a href="/important_links">Important Links</a></li>
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
    </header>
  <!-- ***** Header Area End ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="header-text">
          <h2 style="text-align: center;"><em>Announcements</em></h2>
        </div>

        <div class="announcement">
          <div class="section-heading" style="text-align: left; margin: 5px; margin-bottom: 10px">
            <h4>Zoom Webinar</h4>
          </div>

          <div style="margin-left: 5px; margin-bottom: 10px">
            <p>Hi everyone,</p>
            <p>We’ll be hosting a <b>Zoom meeting this weekend</b> to answer any questions you may have and provide more concrete details about Byte By Byte and our plans for the summer. This webinar will be held on <b>May 1st from 1:00-2:00 PM CST</b>.</p>
            <p>We will be covering several things such as class logistics, what to bring/expect, and things to do before the first class.</p>
            <br>
            <p>We will email the Zoom link to everyone the day of the meeting. If you are unable to attend, do not worry! We will be uploading the information that we go over to our website and sending out another email shortly after the meeting, summarizing what we covered.</p>
            <p>We hope to see you there!</p>
            <br>
            <p>Best,</p>
            <p>Byte By Byte</p>
          </div>
        </div>

        <div class="announcement" style="margin-bottom: 15px">
          <div class="section-heading" style="text-align: left; margin: 5px; margin-bottom: 10px">
            <h4>Our first class</h4>
          </div>

          <div style="margin-left: 5px; margin-bottom: 10px">
            <p>Hello!</p>
            <p>Our first meeting will be held on May 8th from 1:00 - 4:00 PM at the Central Resource Johnson County Library in the Carmack room.</p>
            <p>You can find the map below for directions.</p>
            <br>
            <p>If you know any friends or family who are interested in learning Java or about computer science, please invite them to join the mailing list (linked below!) if you can.</p>
            <p>Thank you!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/assets/js/isotope.min.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/lightbox.js"></script>
    <script src="static/assets/js/tabs.js"></script>
    <script src="static/assets/js/video.js"></script>
    <script src="static/assets/js/slick-slider.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>