<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="SbhSGEhBob9RyJW13-7HDkGaMUIP7up0qXN53YiKBv4" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Byte By Byte</title>
    <link rel="icon" type="image/x-icon" href="static/assets/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-eduwell-style.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">
    <link rel="stylesheet" href="static/assets/css/lightbox.css">
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          <img src="static/assets/images/icon.png" alt="ByteByByte Logo">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="/important_links">Important Links</a></li>
                          <li class="scroll-to-section"><a href="#about-us">About Us</a></li>
                          <li class="scroll-to-section"><a href="#calendar">Calendar</a></li>
                          <li class="scroll-to-section"><a href="#announcements">Announcements</a></li>
                          <li class="scroll-to-section"><a href="#contact-section">Contact Us</a></li>
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>Welcome to Byte By Byte!</h6>
            <h2>Learn <em>Java</em> and <em>Computer Science</em> over the Summer!</h2>
            <div class="main-button-gradient">
              <div class="scroll-to-section"><a href="#contact-section">Join Us Now!</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="static/assets/images/banner-right-image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="our-courses" id="about-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>About us</h6>
            <h4>Who are <em>We?</em></h4>
            <p>More About Byte By Byte</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border"><span>Neil Agarwal</span></div>
                    <div class="gradient-border"><span>Adit Agarwal</span></div>
                    <div class="gradient-border"><span>Why We Founded Byte By Byte</span></div>
                    <div class="gradient-border"><span>What We Teach</span></div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image">
                          <img src="static/assets/images/picture-01.jpg" alt="">
                        </div>
                        <div class="right-content">
                          <h4>Neil Agarwal</h4>
                          <p>Neil will be an incoming high schooler this coming school year. He’s always loved computer science and wants to share that love with others.</p>
                          <p>He has experience in many popular programming languages such as Java, Python, C++ Swift, Javascript, HTML, CSS and systems like Rest APIs, Flask, and SQL.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="static/assets/images/picture-02.jpg" alt="">
                        </div>
                        <div class="right-content">
                          <h4>Adit Agarwal</h4>
                          <p>Adit is currently a senior in college at the University of Illinois at Urbana Champaign studying Computer Science.</p>
                          <p>He’s a Blue Valley alumnus and has had similar experience teaching programming classes in the past and wants to continue teaching others and introducing them to the world of computer science.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="static/assets/images/picture-03.jpg" alt="">
                        </div>
                        <div class="right-content">
                          <h4>Why We Founded Byte By Byte</h4>
                          <p>A few semesters ago when Adit enrolled in college, he found that many of the students in the CS program had gone to out-of-state, private high schools which had focused almost exclusively on computer science and STEM education.</p>
                          <p>As a result, many of these students had <i>years</i> of prior programming experience at these schools, giving them a good advantage during their first few semesters.</p>
                          <p>We wanted this level of education to be more accessible to the general public, leading to the foundation of Byte By Byte.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="static/assets/images/picture-04.jpg" alt="">
                        </div>
                        <div class="right-content">
                          <h4>What We Teach</h4>
                          <p>Our primary mission at Byte By Byte is to <i>train tomorrow's programmers, today</i>.</p>
                          <p>To achieve this goal, we begin by teaching you the necessary fundamentals of computer science with techniques ranging from algorithms to data structures through the Java programming language. Along with these fundamentals, we’ll also cover the nuances of Java, and more generally, Object Oriented Programming (OOPs) concepts.</p>
                          <p>Every week this summer, we’ll hold meetings which involve lectures, hands-on programming practice, group challenges, and tailored assignments.</p>
                          <p>We hope that these lessons will be a good stepping stone for you into the programing world and we will support you as much as possible as we embark on this journey together.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="calendar">
    <div class="iframe-container">
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&showNav=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&height=700&wkst=1&bgcolor=%23db694f&src=aHA1ZHZlaHZidWFqajU4ZWFvZmM4bHRuYm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23fbdbac&ctz=America%Chicago" style="border-width:0; border-radius: 10px" width="90%" height="650" frameborder="0" scrolling="no"></iframe>
    </div>
  </section>

  <section class="testimonials" id="announcements">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Announcements</h6>
            <h4>Recieve New Updates</h4>
          </div>
        </div>

        <div class="announcement">
          <div class="section-heading" style="text-align: left; margin: 5px; margin-bottom: 10px">
            <h4>Our first class</h4>
          </div>

          <div style="margin-left: 5px; margin-bottom: 10px">
            <p>Hello!</p>
            <p>Our first meeting will be held on May 8th from 1:00 - 4:00 PM at the Central Resource Johnson County Library in the Carmack room.</p>
            <p>You can find the map below for directions.</p>
            <br>
            <p>If you know any friends or family who are interested in learning Java or about computer science, please invite them to join the mailing list (linked below!) if you can.</p>
            <p>Thank you!</p>
          </div>
        </div>

        <div class="section-heading" style="text-align: center;">
          <h4>View All <a href="/announcements" target="_blank">Announcements</a></h4>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact-section">
    <div class="container">
      <div class="col-lg-12">
        <div class="section-heading" style="text-align: center;">
          <h6>Join Us!</h6>
          <h4>Join our <a href="https://forms.gle/EjDw3b5nBbHCBDF88">Mailing List</a> to enroll and recieve more info</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div id="map">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.985795091386!2d-94.70166538463444!3d38.96999235026682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0eb645fe7c6db%3A0x12ba5ed76b617aca!2sJohnson%20County%20Library%20-%20Central%20Resource!5e0!3m2!1sen!2sus!4v1650387756983!5m2!1sen!2sus" width="100%" height="420px" frameborder="0" style="border:0; border-radius: 15px; position: relative; z-index: 2;" allowfullscreen=""></iframe>
            <div class="row">
              <div class="col-lg-4 offset-lg-1">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>Phone</h4>
                  <span>913-337-5207</span>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <h4>Email</h4>
                  <span><a href = "mailto: bytebybyte.npo@gmail.com">bytebybyte.npo@gmail.com</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Contact us</h6>
                  <h4><em>Questions?</em></h4>
                  <p>If you have questions feel free to ask us!</p>
                </div>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" id="message" placeholder="Your Message"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-gradient-button">Send Message</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>

<!--        <div class="col-lg-12">-->
<!--          <ul class="social-icons">-->
<!--            <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--            <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
<!--          </ul>-->
<!--        </div>-->
        <div class="col-lg-12">
          <p class="copyright">Copyright © 2022 Byte By Byte, Inc. All Rights Reserved.

          <br>Website template comes from <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/assets/js/isotope.min.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/lightbox.js"></script>
    <script src="static/assets/js/tabs.js"></script>
    <script src="static/assets/js/video.js"></script>
    <script src="static/assets/js/slick-slider.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>