<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="SbhSGEhBob9RyJW13-7HDkGaMUIP7up0qXN53YiKBv4" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Learn to Program - Byte By Byte</title><meta name="description" content="A free programming class taking place virtually held in Overland Park, Kansas. We teach Python and other core CS concepts.">
    <link rel="icon" type="image/x-icon" href="static/assets/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-eduwell-style.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">
    <link rel="stylesheet" href="static/assets/css/lightbox.css">
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          <img src="static/assets/images/icon.png" alt="ByteByByte Logo">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
<!--                          <li><a href="/important_links">Important Links</a></li>-->
                          <li class="scroll-to-section"><a href="#about-us">About Us</a></li>
                          <li class="scroll-to-section"><a href="#calendar">Calendar</a></li>
                          <li class="scroll-to-section"><a href="#announcements">Announcements</a></li>
                          <li class="scroll-to-section"><a href="#contact-section">Contact Us</a></li>
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>Welcome to Byte By Byte!</h6>
            <p><h2>Learn <em>Computer Science</em> and <em>Programming</em> for <em>Free</em>!</h2></p>
            <div class="main-button-gradient">
              <div class="scroll-to-section"><a href="#contact-section">Join Us Now!</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="static/assets/images/banner-right-image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="our-courses" id="about-us">
    <div class="container">
      <div class="col-lg-12">
        <div class="section-heading" style="text-align: center;">
          <h6>Join Us!</h6>
          <h4 style="font-size: 50px"><u><a href="/enroll">Enroll now</a></u> and recieve more info</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>About us</h6>
            <h4>Who are <em>We?</em></h4>
            <p>More About Byte By Byte</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border"><span>Neil Agarwal</span></div>
                    <div class="gradient-border"><span>Adit Agarwal</span></div>
                    <div class="gradient-border"><span>Why We Founded Byte By Byte</span></div>
                    <div class="gradient-border"><span>What We Teach</span></div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image">
                          <img src="static/assets/images/picture-01.png" alt="">
                        </div>
                        <div class="right-content">
                          <h4>Neil Agarwal</h4>
                          <p>Neil is a sophomore at Blue Valley West High School. With experience in programming for many years, he's always wanted to share that passion with others.</p>
                          <p>He has experience in many popular programming languages such as Java, Python, C++, Swift, Javascript, HTML, CSS and systems like Rest APIs, Flask, and SQL.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="static/assets/images/picture-02.jpg" alt="">
                        </div>
                        <div class="right-content">
                          <h4>Adit Agarwal</h4>
                          <p>Adit is a graduate of the University of Illinois at Urbana Champaign having studied Computer Science.</p>
                          <p>He’s a Blue Valley alumnus and has had similar experience teaching programming classes in the past and wants to continue teaching others and introducing them to the world of computer science.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="static/assets/images/picture-03.jpg" alt="">
                        </div>
                        <div class="right-content">
                          <h4>Why We Founded Byte By Byte</h4>
                          <p>A few semesters ago when Adit enrolled in college, he found that many of the students in the CS program had gone to out-of-state, private high schools which had focused almost exclusively on computer science and STEM education.</p>
                          <p>As a result, many of these students had <i>years</i> of prior programming experience at these schools, giving them a good advantage during their first few semesters.</p>
                          <p>We wanted this level of education to be more accessible to the general public, leading to the foundation of Byte By Byte.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="static/assets/images/picture-04.jpg" alt="">
                        </div>
                        <div class="right-content">
                          <h4>What We Teach</h4>
                          <p>Our primary mission at Byte By Byte is to <i>train tomorrow's programmers, today</i>.</p>
                          <p>To achieve this goal, we begin by teaching you the necessary fundamentals of computer science with techniques ranging from algorithms to data structures through the Python programming language. Along with these fundamentals, we’ll also cover the nuances of Python programming.</p>
                          <p>Every week, we’ll hold meetings which involve lectures, hands-on programming practice, group challenges, and personally tailored assignments.</p>
                          <p>We hope that these lessons will be a good stepping stone for you into the programing world and we will support you as much as possible as we embark on this journey together.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="calendar">
    <div class="iframe-container">
      <iframe src="https://docs.google.com/document/d/e/2PACX-1vTFEuk5hMCPhXC-Ygby1R70Vpj29SWlPxz7ZfdV_hbEZ3tgzKbGqxAH5dq17ZlBb9BDiId4MRToH2Lv/pub?embedded=true" style="border-width:0; border-radius: 10px" width="50%" height="650" frameborder="20" scrolling="yes"></iframe>
    </div>
  </section>

  <section class="testimonials" id="announcements">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Announcements</h6>
            <h4>Recieve New Updates</h4>
          </div>
        </div>

        <div class="announcement" style="margin-bottom: 15px">
          <div class="section-heading" style="text-align: left; margin: 5px; margin-bottom: 10px">
            <h4>Welcome!</h4>
          </div>

          <div style="margin-left: 5px; margin-bottom: 10px">
            <p>Hello!</p>
            <p>Thank you for visiting the official Byte by Byte website! We're currently taking enrollment for students.</p>
            <br>
            <p>Enroll <a href="/enroll">here</a> to recieve more info</p>
            <p>Thank you!</p>
          </div>
        </div>

        <div class="section-heading" style="text-align: center;">
          <h4>View All <a href="/announcements" target="_blank">Announcements</a></h4>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact-section">
    <div class="container">
      <div class="col-lg-12">
        <div class="section-heading" style="text-align: center;">
          <h6>Join Us!</h6>
          <h4 style="font-size: 50px"><u><a href="/enroll">Enroll now</a></u> and recieve more info</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div id="map">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3106.9871793057555!2d-94.69299938465088!3d38.855650479577164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3178f36f38fa779f!2sJohnson+County+Library!5e0!3m2!1sen!2sus!4v1452704803111" width="100%" height="420px" frameborder="0" style="border:0; border-radius: 15px; position: relative; z-index: 2;" allowfullscreen=""></iframe>
            <div class="row">
              <div class="col-lg-4 offset-lg-1">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>Phone</h4>
                  <span>913-909-2046</span>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <h4>Email</h4>
                  <span><a href = "mailto: help@byte-by-byte.org">help@byte-by-byte.org</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Contact us</h6>
                  <h4>Still have <em>Questions</em>?</h4>
                  <p>If you'd like to enroll, have questions about timings, classes, or other inquiries, please don't
                  hesitate to put in your email and message! The byte by byte email and phone number can also be found
                    to the left.</p>
                </div>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Full Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" id="message" placeholder="Your Message"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  Regularly check your email!
                  <button type="submit" id="form-submit" class="main-gradient-button">Send Message</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-12">
          <p class="copyright">Byte By Byte, Inc.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/assets/js/isotope.min.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/lightbox.js"></script>
    <script src="static/assets/js/tabs.js"></script>
    <script src="static/assets/js/video.js"></script>
    <script src="static/assets/js/slick-slider.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>