<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Byte By Byte</title>
    <link rel="icon" type="image/x-icon" href="static/assets/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-eduwell-style.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">
    <link rel="stylesheet" href="static/assets/css/lightbox.css">
  </head>

  <style>
    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }

    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .column {
        flex: 50%;
        max-width: 50%;
      }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        flex: 100%;
        max-width: 100%;
      }
    }

    .round {
      border-radius: 50%;
    }
  </style>

  <body>


  <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          <img src="static/assets/images/icon.png" alt="ByteByByte Logo">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="/" class="active">Home</a></li>
                          <li><a href="/important_links">Important Links</a></li>
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
    </header>
  <!-- ***** Header Area End ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="header-text">
          <h2 style="text-align: center;"><em>Week 1-2 Complete Recap</em></h2>
        </div>

        <div class="weeksetup" style="margin-bottom: 15px">
          <div class="section-heading" style="text-align: left; margin: 5px; margin-bottom: 10px">
            <h4>Initial Setup</h4>
          </div>

          <div style="margin-left: 5px; margin-bottom: 10px">
            <p>Canvas is our most important resource -- we use it to upload assignments, lectures, and slides from lessons</p>
            <p>Sign up for our course here: </p> <a href="https://canvas.instructure.com/enroll/A6NB99">https://canvas.instructure.com/enroll/A6NB99</a>
            <p>After doing so, set the password for your account by going to <a href="https://canvas.instructure.com/login/canvas">https://canvas.instructure.com/login/canvas</a> and pressing forgot password.</p>
            <p>Then, enter the email you used to register and click on the link sent to your inbox.</p>
          </div>

          <div style="margin-left: 5px; margin-bottom: 10px">
            <h5>! IMPORTANT ! If you use canvas in school, you won't be able to access the Byte By Byte Canvas tile from your school account. You must go to <a href="canvas.instructure.com">canvas.instructure.com</a> to access the course</h5>
          </div>

          <div style="margin-left: 5px; margin-bottom: 10px">
            <p>We use Slack to communicate with students both in and out of meetings. If you have a question, you can send a message and we'll get back to you as sono as we can!</p>
            <p>During a lecture, you can always send a direct message to one of us to clear up anything you missed.</p>

            <p>Sign up here: </p> <a href="https://join.slack.com/t/newworkspace-qyu3839/shared_invite/zt-2jrp91lyq-_Sv5O3~ciu_FKBLIMKo70A">https://join.slack.com/t/newworkspace-qyu3839/shared_invite/zt-2jrp91lyq-_Sv5O3~ciu_FKBLIMKo70A</a>
          </div>

          <div style="margin-left: 5px; margin-bottom: 10px">
            <p>Jupyter Lab and Google Colab is a super easy way to get going with code right in your browser</p>
            <p>We take notes in both Jupyter Lab and Colab during class and encourage you to follow along.</p>

            <p>Unfortunately, school computers are unable to access Colab but Jupyter Lab offers most of the same features as Colab.</p>

            <p>Try Colab (make sure to press File -> New Notebook): <a href="https://colab.research.google.com/"></a>https://colab.research.google.com/</p>
            <p>Try Jupyter Lab (X out of the first notebook that pops up and press Pyodide): <a href="https://jupyterlite.github.io/demo/lab/index.html">https://jupyterlite.github.io/demo/lab/index.html</a></p>
          </div>

          <div style="margin-left: 5px; margin-bottom: 10px">
            <p>Jupyter Lab and Google Colab is a super easy way to get going with code right in your browser</p>
            <p>We take notes in both Jupyter Lab and Colab during class and encourage you to follow along.</p>

            <p>Unfortunately, school computers are unable to access Colab but Jupyter Lab offers most of the same features as Colab.</p>

            <p>Try Colab (make sure to press File -> New Notebook): <a href="https://colab.research.google.com/"></a>https://colab.research.google.com/</p>
            <p>Try Jupyter Lab (X out of the first notebook that pops up and press Pyodide): <a href="https://jupyterlite.github.io/demo/lab/index.html">https://jupyterlite.github.io/demo/lab/index.html</a></p>
          </div>

          <div style="margin-left: 5px; margin-bottom: 10px">
            <p>Our office hours are open on Monday and Wednesday from 5:00 - 7:00 PM. Pop in if you have any questions about the assignment, lesson, or need help setting up / accessing something!</p>
            <p>Link: <a href="https://us05web.zoom.us/j/7634302470?pwd=4Itky2xhodVNSEcmqxeVG14an2sgvL.1#success">https://us05web.zoom.us/j/7634302470?pwd=4Itky2xhodVNSEcmqxeVG14an2sgvL.1#success</a></p>
          </div>

          <div class="section-heading" style="text-align: left; margin: 5px; margin-bottom: 10px">
            <h4>Week 1-2 Info/Assignment & Catch-Up</h4>
          </div>

          <div style="margin-left: 5px; margin-bottom: 10px">
            <p>Go to the modules tab on Canvas (<a href="https://canvas.instructure.com/courses/9564645/modules">https://canvas.instructure.com/courses/9564645/modules</a>)</p>
            <p>We have a great video lecture covering the first 2 weeks named "Week 1 + 2 Lectures" under the Week #2 module -- <a href="https://drive.google.com/file/d/1Opsmp8e8clr1Btnq1jsPKkpB3-aSAqe8/view?usp=sharing">https://drive.google.com/file/d/1Opsmp8e8clr1Btnq1jsPKkpB3-aSAqe8/view?usp=sharing</a></p>
            <p>The notes & slides that Adit had during the lesson are also available underneath named Week 2 Note Guide & Week 2 Slides</p>

            <br>

            <p>After completing the lesson, complete "First Assignment!" and "Week 2 Assignment" both available under modules.</p>
          </div>

          <div style="margin-left: 5px; margin-bottom: 10px">
            <h5>If you have any questions about the lessons/assignments or are having any issues with the above, don't hesitate to email us or send us a message on Slack!</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/assets/js/isotope.min.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/lightbox.js"></script>
    <script src="static/assets/js/tabs.js"></script>
    <script src="static/assets/js/video.js"></script>
    <script src="static/assets/js/slick-slider.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>